body { background-color: darkgreen; }
h1 { font-size: 30px; color: rgb(56, 31, 80) ; } 
h2 { font-size: 30px; color: rgb(56, 31, 80) ; }
.lofas { font-size: small; }
.kar   { font-size: large;color: aqua; }
.kar.lofas { font-size: xx-large; color: blue; }
span { color: aqua; } 
